In [1]:
from collections import defaultdict
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
# task_1: Какое кол-во мужчин и женщин ехало на корабле?
file_1 = open('answer_1_1.txt', 'w')
 
gender = data['Sex'].value_counts()

for sex in gender:
    file_1.write(str(sex) + ' ')

file_1.close()

In [28]:
# task_2: Какой части пассажиров удалось выжить? 

file_2 = open('answer_1_2.txt', 'w')

survivor = round(data[data['Survived'] == 1]['Survived'].count() / data['Survived'].count() * 100, 2)

file_2.write(str(survivor))
file_2.close()

In [42]:
# task_3: Какую долю пассажиры первого класса составляли среди всех пассажиров?
file_3 = open('answer_1_3.txt', 'w')

passenger_first_class = round(data[data['Pclass'] == 1]['Pclass'].count() / data['Pclass'].count() * 100, 2)

file_3.write(str(passenger_first_class))
file_3.close()

In [36]:
# task_4: Какого возраста были пассажиры? 
# Посчитайте среднее и медиану возраста пассажиров

file_4 = open('answer_1_4.txt', 'w')

age = []
age.append(round(data['Age'].mean(), 2))
age.append(round(data['Age'].median(), 2))
for i in age:
    file_4.write(str(i) + ' ')
file_4.close()

In [ ]:
# task_5: Коррелируют ли число братьев/сестер/супругов с числом родителей/детей?

file_5 = open('answer_1_5.txt', 'w')

corr_family = round(data['SibSp'].corr(data['Parch']), 2)

file_5.write(str(corr_family))
file_5.close()

In [45]:
# task_6: Какое самое популярное женское имя на корабле?

file_6 = open('answer_1_6.txt', 'w')
nam = defaultdict(int)

female_names, v = [], []
full_names = data['Name']
for full_name in full_names:
    name = full_name.split()[1:]
    if 'Mrs.' == name[0]:
        female_names.append(' '.join(name[1:]))
    elif 'Miss.' == name[0]:
        female_names.append(' '.join(name[1:]))
for j in female_names:
    nam[j] += 1
mx = sorted(nam, key=lambda x: nam[x], reverse=True)
mx2 = sorted(nam.values(), reverse=True)

file_6.write(str(mx[0]))
file_6.close()