<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
data[data.sex == 'Female'].mean()

age                   36.858230
fnlwgt            185746.311206
education-num         10.035744
capital-gain         568.410547
capital-loss          61.187633
hours-per-week        36.410361
dtype: float64

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
(data['native-country'] == 'Germany').value_counts() / (data['native-country'].count()) * 100

False    99.579251
True      0.420749
Name: native-country, dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
mean_salary_more_50 = data[(data['salary'] == '>50K')].age.mean()
std_salary_more_50 = data[(data['salary'] == '>50K')].age.std()
mean_salary_less_50 = data[(data['salary'] == '<=50K')].age.mean()
std_salary_less_50 = data[(data['salary'] == '<=50K')].age.std()
print(mean_salary_more_50, std_salary_more_50)
print(mean_salary_less_50, std_salary_less_50)

44.24984058155847 10.51902771985177
36.78373786407767 14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
data[(data['salary'] == '>50K')].education.value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
data[data['race'] == 'Amer-Indian-Eskimo'].groupby('sex').max()

        age  workclass  fnlwgt  ...   hours-per-week  native-country salary
sex                             ...
Female   80  State-gov  445168  ...               84   United-States   >50K
Male     82  State-gov  356015  ...               84   United-States   >50K

[2 rows x 14 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [9]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [10]:
married = data[(data['salary'] == '>50K') & ((data['marital-status'] == 'Married-civ-spouse') | 
                                   (data['marital-status'] == 'Married-spouse-absent') | 
                                   (data['marital-status'] == 'Married-AF-spouse'))].sex.value_counts()
not_married = data[(data['salary'] == '>50K') & ((data['marital-status'] != 'Married-civ-spouse') | 
                                   (data['marital-status'] != 'Married-spouse-absent') | 
                                   (data['marital-status'] != 'Married-AF-spouse'))].sex.value_counts()
men_married = married['Male'] / (married['Male'] + married['Female'])
men_not_married = not_married['Male'] / (not_married['Male'] + not_married['Female'])
print(men_married, men_not_married)

0.8855403800475059 0.8496365259533223

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [11]:
max_hour = data['hours-per-week'].max()
all_people_work = data[data['hours-per-week'] == max_hour].count()
salary_more_50 = data[(data['hours-per-week'] == max_hour) & (data['salary'] == '>50K')].count() / \
    data[data['hours-per-week'] == max_hour].count() * 100
print(max_hour, all_people_work.sex, salary_more_50.salary)

99 85 29.411764705882355

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [12]:
mean_hour_salary_more_50 = data[(data['salary'] == '>50K')].groupby('native-country').mean()
mean_hour_salary_less_50 = data[(data['salary'] == '<=50K')].groupby('native-country').mean()
mean_more_50 = mean_hour_salary_more_50['hours-per-week']
mean_less_50 = mean_hour_salary_less_50['hours-per-week']
print(mean_less_50.Japan, mean_more_50.Japan)

41.0 47.958333333333336